

$PersonSize: 100px;
$VoteSize: 60px;


$SmallPersonSize: 80px;
$SmallVoteSize: 60px;

@media screen and (min-width: 700px) {
    body {
        #container.round {
            background-size: contain;
            width: 800px;
            padding: 0px;
            height: 830px;

            #master-timer {
                display: block;
                width: 100px;
                height: 100px;
                position: relative;
                top: 400px;
                left: 415px;
                margin-left: -50px;
                margin-top: -50px;

                &.timer {
                    line-height: 100px;
                    font-size: 100px;
                    font-family: 'Stylish', sans-serif;
                    color: #bb0a1e;
                    position: relative;
                    float: left;
                    cursor: pointer;
                    text-align: center;
                }
            }

            #current-voter {
                display: block;
                display: inline-block;
                width: 200px;
                height: 50px;
                font-size: 49px;
                line-height: 49px;
                position: relative;
                top: 500px;
                left: 415px;
                text-align: center;
                margin-left: -150px;
                margin-top: -50px;
                font-family: 'Stylish', sans-serif;
                color: #bb0a1e;
            }

            .clock {
                border-radius: 50%;
                background-size: 88%;
                height: 800px;
                padding-bottom: 31%;
                position: relative;
                width: 800px;
            }

            .clock.simple:after {
                background: #000;
                border-radius: 50%;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 5%;
                height: 5%;
                z-index: 10;
            }

            .seconds-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            .seconds {
                background: #000;
                height: 36%;
                left: 49.5%;
                position: absolute;
                top: 22%;
                transform-origin: 50% 80%;
                width: 1%;
                z-index: 8;
            }

            .animate-seconds-container {
                animation-name: rotate;
                animation-duration: 60s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
            }

            @keyframes rotate {
                100% {
                    transform: rotateZ(360deg);
                }
            }


            &.admin {
                width: 1100px
            }

            .info-holder {
                position: absolute;
                width: 189px;
                height: 189px;
                min-width: unset;

                .timer {
                    display: none;
                }

                .voter {
                    float: unset;
                    position: absolute;
                    top: 42px;
                    left: 43px;
                }

                

                .voting {
                    display: none;
                    float: unset;
                    position: absolute;
                    top: 41px;
                    left: 42px;
                    font-size: 50px;
                    text-align: center;
                    box-sizing: border-box;
                    float: left;
                    z-index: 99;
                    width: $PersonSize+2;
                    height: $PersonSize+2;
                    line-height: $PersonSize+2;

                    .voting-border {
                        position: absolute;
                        width: ($PersonSize+2)/2;
                        height: ($PersonSize+2)/2;
                        background-size: contain;
                        background-repeat: no-repeat;

                        &.top-right {
                            background-image: url("../images/border-top-right.png");
                            right: 0px;
                            top: 0px;
                            background-position: right bottom;
                        }

                        &.top-left {
                            background-image: url("../images/border-top-left.png");
                            left: 0px;
                            top: 0px;
                            background-position: left bottom;
                        }

                        &.bottom-right {
                            background-image: url("../images/border-bottom-right.png");
                            right: 0px;
                            bottom: 0px;
                            background-position: right bottom;
                        }

                        &.bottom-left {
                            background-image: url("../images/Border-bottom-left.png");
                            left: 0px;
                            bottom: 0px;
                            background-position: left bottom;
                        }
                    }
                }


                .join-link {
                    float: unset;
                    position: absolute;
                    top: 175px;
                    padding: 0px;
                    height: 20px;
                    line-height: 20px;
                    width: 189px;
                    text-align: center;
                }

                .seat-number {
                    float: unset;
                    padding: 0px;
                    position: absolute;
                    top: 14px;
                    height: 45px;
                    line-height: 25px;
                    text-align: center;
                    right: 82px;
                }

                .username {
                    float: unset;
                    padding: 0px;
                    position: relative;
                    top: 145px;
                    height: 45px;
                    line-height: 25px;
                    text-align: center;

                    input[type="text"] {
                        text-align: center;
                        width: 189px;
                    }

                    #my_name_display {
                        width: 189px;
                        text-align: center;
                    }
                }



                .switches {
                    padding: 0px;
                    position: absolute;
                    bottom: 80px;
                    width: 189px;

                    #kill-switch {
                        position: absolute;
                        left: 18px;
                        margin: 0px;
                        float: unset;
                        padding: 0px;
                    }

                    #used-switch {
                        position: absolute;
                        right: 18px;
                        margin: 0px;
                        padding: 0px;
                        float: unset;
                        background-color: white;
                    }

                    #afk-switch {
                        position: absolute;
                        right: 21px;
                        margin: 0px;
                        padding: 0px;
                        float: unset;
                        top: -74px;
                    }
                }
            }
        }

        #container.round[data-players="6"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 143px;
                left: 587px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 462px;
                left: 588px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 621px;
                left: 311px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 460px;
                left: 33px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 142px;
                left: 33px;
            }
        }

        #container.round[data-players="7"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 100px;
                left: 552px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 366px;
                left: 616px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 583px;
                left: 450px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 590px;
                left: 177px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 381px;
                left: 0px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 113px;
                left: 50px;
            }
        }

        #container.round[data-players="8"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 76px;
                left: 537px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 303px;
                left: 631px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 530px;
                left: 536px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 622px;
                left: 311px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 528px;
                left: 84px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 302px;
                left: -9px;
            }

            .info-holder[data-sitting-order="8"] {
                top: 76px;
                left: 84px;
            }
        }

        #container.round[data-players="9"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 57px;
                left: 517px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 247px;
                left: 626px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 462px;
                left: 588px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 604px;
                left: 419px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 604px;
                left: 200px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 462px;
                left: 34px;
            }

            .info-holder[data-sitting-order="8"] {
                top: 247px;
                left: -5px;
            }

            .info-holder[data-sitting-order="9"] {
                top: 57px;
                left: 106px;
            }
        }

        #container.round[data-players="10"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 43px;
                left: 494px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 202px;
                left: 611px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 399px;
                left: 612px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 560px;
                left: 494px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 623px;
                left: 307px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 561px;
                left: 118px;
            }

            .info-holder[data-sitting-order="8"] {
                top: 400px;
                left: 2px;
            }

            .info-holder[data-sitting-order="9"] {
                top: 201px;
                left: 1px;
            }

            .info-holder[data-sitting-order="10"] {
                top: 43px;
                left: 117px;
            }
        }

        #container.round[data-players="11"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 32px;
                left: 479px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 169px;
                left: 599px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 347px;
                left: 624px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 510px;
                left: 548px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 609px;
                left: 397px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 608px;
                left: 216px;
            }

            .info-holder[data-sitting-order="8"] {
                top: 512px;
                left: 64px;
            }

            .info-holder[data-sitting-order="9"] {
                top: 347px;
                left: -11px;
            }

            .info-holder[data-sitting-order="10"] {
                top: 169px;
                left: 13px;
            }

            .info-holder[data-sitting-order="11"] {
                top: 32px;
                left: 132px;
            }
        }

        #container.round[data-players="12"] {

            .info-holder[data-sitting-order="1"] {
                top: -21px;
                left: 306px;
            }

            .info-holder[data-sitting-order="2"] {
                top: 24px;
                left: 466px;
            }

            .info-holder[data-sitting-order="3"] {
                top: 142px;
                left: 584px;
            }

            .info-holder[data-sitting-order="4"] {
                top: 301px;
                left: 627px;
            }

            .info-holder[data-sitting-order="5"] {
                top: 462px;
                left: 583px;
            }

            .info-holder[data-sitting-order="6"] {
                top: 581px;
                left: 466px;
            }

            .info-holder[data-sitting-order="7"] {
                top: 623px;
                left: 306px;
            }

            .info-holder[data-sitting-order="8"] {
                top: 581px;
                left: 145px;
            }

            .info-holder[data-sitting-order="9"] {
                top: 462px;
                left: 27px;
            }

            .info-holder[data-sitting-order="10"] {
                top: 301px;
                left: -17px;
            }

            .info-holder[data-sitting-order="11"] {
                top: 142px;
                left: 27px;
            }

            .info-holder[data-sitting-order="12"] {
                top: 24px;
                left: 145px;
            }
        }
    }
}


body {
    //background-color: #dbdbdb;#
    h1, h2, h3, h4, .title {
        font-family: 'Dancing Script', cursive;
        color: #bb0a1e;
    }

    .body-content {
        @media screen and (max-width: 300px) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    min-width: 257px;

    #spacer {
        @media screen and (max-width: 700px) {
            width: 100%;
            height: 830px;
        }
    }

    #admin-panel {

        @media screen and (min-width: 700px) {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 300px;
        }

        input[type=button] {
            width: 100%;
            border-radius: 5px;
        }

        @media screen and (max-width: 700px) {
            /*position: initial;*/
            width: 100%;
        }

        z-index: 3;
        border: 1px solid black;
        background-color: white;
        padding: 10px;
        height: 100%;
        overflow: auto;

        div {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .error {
            display: none;
            color: #bb0a1e;
        }

        .title {
            font-size: 28px;
        }

        .form-group {
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
        }
    }

    #container.help {
        .info-holder {
            .username {
                font-size: 15px;
            }
        }
    }

    #info {
        min-width: 300px;
    }

    #container {
        z-index: 0;
        min-height: 746px;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000;
        position: relative;
        box-sizing: border-box;
        background-image: url('../images/parchment.jpg');
        //background-image: url('../images/Backgrounds/12 Player Layout.png');
        #master-timer {
            display: none;
        }

        #current-voter {
            display: none;
        }


        @media screen and (min-width: 620px) {
            padding: 60px 10px 60px 70px;

            .border {
                width: 172px;
                height: 269px;
                position: absolute;
                z-index: 1;
                pointer-events: none;

                &.top {
                    top: 0px;

                    &.right {
                        background-image: url('../images/border-top-right.png');
                        right: 0px;
                    }

                    &.left {
                        background-image: url('../images/border-top-left.png');
                        left: 0px;
                    }
                }

                &.bottom {
                    bottom: 0px;

                    &.right {
                        background-image: url('../images/border-bottom-right.png');
                        right: 0px;
                    }

                    &.left {
                        background-image: url('../images/border-bottom-left.png');
                        left: 0px;
                    }
                }
            }
        }

        @media screen and (max-width: 400px) {
            padding: 3px;
        }


        .info-holder {

            @media screen and (min-width: 400px) {
                height: $PersonSize;
            }

            @media screen and (max-width: 400px) {
                height: $SmallPersonSize;
            }

            min-width: 265px;
            margin-top: 5px;
            margin-bottom: 5px;

            .timer, .join-link, .seat-number, .username {
                @media screen and (min-width: 400px) {
                    height: $PersonSize;
                    line-height: $PersonSize;
                }

                @media screen and (max-width: 400px) {
                    height: $SmallPersonSize;
                    line-height: $SmallPersonSize;
                }
            }

            .voting {
                display: none;
            }

            .timer {
                @media screen and (min-width: 400px) {
                    font-size: 50px;
                    width: 50px;
                    padding-left: 5px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 25px;
                    width: 25px;
                    padding-left: 0px;
                }

                &.long-vote {
                    font-size: 18px;
                    width: 200px;
                }

                font-family: 'Stylish', sans-serif;
                color: #bb0a1e;
                position: relative;
                float: left;
                cursor: pointer;
                text-align: center;
            }

            .join-link {
                font-size: 12px;
                position: relative;
                float: left;
                padding-left: 10px;
                cursor: pointer;
                text-align: center;
            }

            .seat-number {
                font-size: 23px;
                position: relative;
                float: left;
                padding-left: 5px;
            }

            .username {
                position: relative;
                float: left;
                padding-left: 10px;
                font-family: 'Stylish', sans-serif;

                @media screen and (min-width: 500px) {
                    font-size: 33px;

                    input[type=text] {
                        height: 25px;
                        width: 200px;
                    }

                    #my_name_display {
                        width: 200px;
                    }
                }

                @media screen and (max-width: 500px) {
                    font-size: 18px;

                    input[type=text] {
                        height: 25px;
                        width: 100px;
                    }

                    #my_name_display {
                        width: 100px;
                    }
                }
            }

            .afk-notice {
                float: unset;
                position: relative;
                top: -100px;
                left: 0px;
                font-weight: bold;
                font-size: 40px;
                -webkit-text-stroke: 1px white;
                -webkit-text-fill-color: #510909;
                z-index: 100;
            }

            .switches {
                @media screen and (min-width: 400px) {
                    line-height: $PersonSize;
                    padding-top: 34px;
                }

                @media screen and ( max-width: 400px) and (min-width:350px) {
                    line-height: $SmallPersonSize;
                    padding-top: 25px;
                }

                @media screen and ( max-width: 350px) {
                    line-height: $SmallPersonSize;
                    padding-top: 5px;

                    #kill-switch, #used-switch {
                        padding-top: 2px;
                    }
                }

                #afk-switch {
                    cursor: pointer;
                    line-height: 32px;
                }

                #kill-switch, #used-switch {
                    font-size: 23px;
                    position: relative;
                    float: left;
                    padding-left: 5px;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    border-radius: 16px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border: 1px solid black
                }

                #kill-switch {
                    &.dead {
                        background-color: black;
                    }

                    &.alive {
                        background-color: #f2d98e;
                    }

                    &.traveler {
                        background-color: grey;
                    }
                }
            }



            .voter {
                font-size: 50px;
                text-align: center;
                border: 1px solid #808080;
                box-sizing: border-box;
                float: left;
                z-index: 99;

                &[data-afk=true] .afk-notice {
                    display: inline-block;
                }

                &[data-afk=false] .afk-notice {
                    display: none;
                }

                &.player.not-ready {
                    border: 1px solid #bb0a1e;
                }


                @media screen and (min-width: 400px) {
                    width: $PersonSize;
                    height: $PersonSize;
                    border-radius: $PersonSize/2;
                    line-height: $PersonSize;
                }

                @media screen and (max-width: 400px) {
                    width: $SmallPersonSize;
                    height: $SmallPersonSize;
                    border-radius: $SmallPersonSize/2;
                    line-height: $SmallPersonSize;
                }

                &.alive {
                    background-color: #f2d98e;
                    border: 1px solid #d0aa38;
                }

                &.dead {
                    background-color: black;
                }

                &.traveler {
                    background-color: grey;
                    border: 1px solid black;
                }

                .vote {
                    font-size: 50px;
                    text-align: center;
                    border: 2px solid #808080;
                    z-index: 100;

                    @media screen and (min-width: 400px) {
                        margin: ($PersonSize - $VoteSize - 2) /2;
                        width: $VoteSize;
                        height: $VoteSize;
                        border-radius: $VoteSize/2;
                        line-height: $VoteSize;
                    }

                    @media screen and (max-width: 400px) {
                        margin: ($SmallPersonSize - $SmallVoteSize) /2;
                        width: $SmallVoteSize;
                        height: $SmallVoteSize;
                        border-radius: $SmallVoteSize/2;
                        line-height: $SmallVoteSize;
                    }

                    &.execute-vote {
                        background-color: black;
                        background-image: url('../images/noose.png');
                        background-position: top;
                        background-repeat: no-repeat;
                    }

                    &.abstain-vote {
                        background-color: white;
                    }

                    &.used-vote {
                        display: none;
                    }

                    &.me {
                        cursor: pointer;
                    }

                    &.them {
                    }
                }
            }
        }
    }

    #vote-log-container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        //display:none;
        #vote-log {
            width: 800px;
            border: 1px solid #808080;
            min-height: 20px;

            div {
                span {
                    font-style: italic;
                    color: #6b6b6b;
                }
            }
        }
    }

    .no-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
