@media screen and (min-width: 700px) {
  body #container.round {
    background-size: contain;
    width: 800px;
    margin: auto;
    padding: 0px;
    margin: 0px;
    height: 830px; }
    body #container.round #master-timer {
      display: block;
      width: 100px;
      height: 100px;
      position: relative;
      top: 400px;
      left: 415px;
      margin-left: -50px;
      margin-top: -50px; }
      body #container.round #master-timer.timer {
        line-height: 100px;
        font-size: 100px;
        font-family: 'Stylish', sans-serif;
        color: #bb0a1e;
        position: relative;
        float: left;
        cursor: pointer;
        text-align: center; }
    body #container.round #current-voter {
      display: block;
      display: inline-block;
      width: 200px;
      height: 50px;
      font-size: 49px;
      line-height: 49px;
      position: relative;
      top: 500px;
      left: 415px;
      text-align: center;
      margin-left: -150px;
      margin-top: -50px;
      font-family: 'Stylish', sans-serif;
      color: #bb0a1e; }
    body #container.round .clock {
      border-radius: 50%;
      background-size: 88%;
      height: 800px;
      padding-bottom: 31%;
      position: relative;
      width: 800px; }
    body #container.round .clock.simple:after {
      background: #000;
      border-radius: 50%;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 5%;
      height: 5%;
      z-index: 10; }
    body #container.round .seconds-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    body #container.round .seconds {
      background: #000;
      height: 36%;
      left: 49.5%;
      position: absolute;
      top: 22%;
      transform-origin: 50% 80%;
      width: 1%;
      z-index: 8; }
    body #container.round .animate-seconds-container {
      animation-name: rotate;
      animation-duration: 60s;
      animation-iteration-count: 1;
      animation-timing-function: linear; }
  @keyframes rotate {
    100% {
      transform: rotateZ(360deg); } }
    body #container.round.admin {
      width: 1100px; }
    body #container.round .info-holder {
      position: absolute;
      width: 189px;
      height: 189px;
      min-width: unset; }
      body #container.round .info-holder .timer {
        display: none; }
      body #container.round .info-holder .voter {
        float: unset;
        position: absolute;
        top: 42px;
        left: 43px; }
      body #container.round .info-holder .voting {
        display: none;
        float: unset;
        position: absolute;
        top: 41px;
        left: 42px;
        font-size: 50px;
        text-align: center;
        box-sizing: border-box;
        float: left;
        z-index: 99;
        width: 102px;
        height: 102px;
        line-height: 102px; }
        body #container.round .info-holder .voting .voting-border {
          position: absolute;
          width: 51px;
          height: 51px;
          background-size: contain;
          background-repeat: no-repeat; }
          body #container.round .info-holder .voting .voting-border.top-right {
            background-image: url("../images/border-top-right.png");
            right: 0px;
            top: 0px;
            background-position: right bottom; }
          body #container.round .info-holder .voting .voting-border.top-left {
            background-image: url("../images/border-top-left.png");
            left: 0px;
            top: 0px;
            background-position: left bottom; }
          body #container.round .info-holder .voting .voting-border.bottom-right {
            background-image: url("../images/border-bottom-right.png");
            right: 0px;
            bottom: 0px;
            background-position: right bottom; }
          body #container.round .info-holder .voting .voting-border.bottom-left {
            background-image: url("../images/Border-bottom-left.png");
            left: 0px;
            bottom: 0px;
            background-position: left bottom; }
      body #container.round .info-holder .join-link {
        float: unset;
        position: absolute;
        top: 175px;
        padding: 0px;
        height: 20px;
        line-height: 20px;
        width: 189px;
        text-align: center; }
      body #container.round .info-holder .seat-number {
        float: unset;
        padding: 0px;
        position: absolute;
        top: 14px;
        height: 45px;
        line-height: 25px;
        text-align: center;
        right: 82px; }
      body #container.round .info-holder .username {
        float: unset;
        padding: 0px;
        position: relative;
        top: 145px;
        height: 45px;
        line-height: 25px;
        text-align: center; }
        body #container.round .info-holder .username input[type="text"] {
          text-align: center;
          width: 189px; }
        body #container.round .info-holder .username #my_name_display {
          width: 189px;
          text-align: center; }
      body #container.round .info-holder .switches {
        padding: 0px;
        position: absolute;
        bottom: 80px;
        width: 189px; }
        body #container.round .info-holder .switches #kill-switch {
          position: absolute;
          left: 18px;
          margin: 0px;
          float: unset;
          padding: 0px; }
        body #container.round .info-holder .switches #used-switch {
          position: absolute;
          right: 18px;
          margin: 0px;
          padding: 0px;
          float: unset;
          background-color: white; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="2"] {
    top: 143px;
    left: 587px; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="3"] {
    top: 462px;
    left: 588px; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="4"] {
    top: 621px;
    left: 311px; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="5"] {
    top: 460px;
    left: 33px; }
  body #container.round[data-players="6"] .info-holder[data-sitting-order="6"] {
    top: 142px;
    left: 33px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="2"] {
    top: 100px;
    left: 552px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="3"] {
    top: 366px;
    left: 616px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="4"] {
    top: 583px;
    left: 450px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="5"] {
    top: 590px;
    left: 177px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="6"] {
    top: 381px;
    left: 0px; }
  body #container.round[data-players="7"] .info-holder[data-sitting-order="7"] {
    top: 113px;
    left: 50px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="2"] {
    top: 76px;
    left: 537px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="3"] {
    top: 303px;
    left: 631px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="4"] {
    top: 530px;
    left: 536px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="5"] {
    top: 622px;
    left: 311px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="6"] {
    top: 528px;
    left: 84px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="7"] {
    top: 302px;
    left: -9px; }
  body #container.round[data-players="8"] .info-holder[data-sitting-order="8"] {
    top: 76px;
    left: 84px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="2"] {
    top: 57px;
    left: 517px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="3"] {
    top: 247px;
    left: 626px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="4"] {
    top: 462px;
    left: 588px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="5"] {
    top: 604px;
    left: 419px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="6"] {
    top: 604px;
    left: 200px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="7"] {
    top: 462px;
    left: 34px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="8"] {
    top: 247px;
    left: -5px; }
  body #container.round[data-players="9"] .info-holder[data-sitting-order="9"] {
    top: 57px;
    left: 106px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="2"] {
    top: 43px;
    left: 494px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="3"] {
    top: 202px;
    left: 611px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="4"] {
    top: 399px;
    left: 612px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="5"] {
    top: 560px;
    left: 494px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="6"] {
    top: 623px;
    left: 307px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="7"] {
    top: 561px;
    left: 118px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="8"] {
    top: 400px;
    left: 2px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="9"] {
    top: 201px;
    left: 1px; }
  body #container.round[data-players="10"] .info-holder[data-sitting-order="10"] {
    top: 43px;
    left: 117px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="2"] {
    top: 32px;
    left: 479px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="3"] {
    top: 169px;
    left: 599px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="4"] {
    top: 347px;
    left: 624px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="5"] {
    top: 510px;
    left: 548px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="6"] {
    top: 609px;
    left: 397px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="7"] {
    top: 608px;
    left: 216px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="8"] {
    top: 512px;
    left: 64px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="9"] {
    top: 347px;
    left: -11px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="10"] {
    top: 169px;
    left: 13px; }
  body #container.round[data-players="11"] .info-holder[data-sitting-order="11"] {
    top: 32px;
    left: 132px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="1"] {
    top: -21px;
    left: 306px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="2"] {
    top: 24px;
    left: 466px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="3"] {
    top: 142px;
    left: 584px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="4"] {
    top: 301px;
    left: 627px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="5"] {
    top: 462px;
    left: 583px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="6"] {
    top: 581px;
    left: 466px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="7"] {
    top: 623px;
    left: 306px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="8"] {
    top: 581px;
    left: 145px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="9"] {
    top: 462px;
    left: 27px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="10"] {
    top: 301px;
    left: -17px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="11"] {
    top: 142px;
    left: 27px; }
  body #container.round[data-players="12"] .info-holder[data-sitting-order="12"] {
    top: 24px;
    left: 145px; } }

body {
  min-width: 257px; }
  body h1, body h2, body h3, body h4, body .title {
    font-family: 'Dancing Script', cursive;
    color: #bb0a1e; }
  @media screen and (max-width: 300px) {
    body .body-content {
      padding-left: 5px;
      padding-right: 5px; } }
  @media screen and (max-width: 700px) {
    body #spacer {
      width: 100%;
      height: 830px; } }
  body #admin-panel {
    z-index: 3;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    height: 100%;
    overflow: auto; }
    @media screen and (min-width: 700px) {
      body #admin-panel {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 300px; } }
    @media screen and (max-width: 700px) {
      body #admin-panel {
        /*position: initial;*/
        width: 100%; } }
    body #admin-panel div {
      margin-top: 5px;
      margin-bottom: 5px; }
    body #admin-panel .title {
      font-size: 28px; }
    body #admin-panel .form-group {
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px; }
  body #container.help .info-holder .username {
    font-size: 15px; }
  body #info {
    min-width: 300px; }
  body #container {
    z-index: 0;
    min-height: 700px;
    min-width: 300px;
    border: 1px solid #000;
    position: relative;
    box-sizing: border-box;
    background-image: url("../images/parchment.jpg"); }
    body #container #master-timer {
      display: none; }
    body #container #current-voter {
      display: none; }
    @media screen and (min-width: 620px) {
      body #container {
        padding: 60px 10px 60px 70px; }
        body #container .border {
          width: 172px;
          height: 269px;
          position: absolute;
          z-index: 1;
          pointer-events: none; }
          body #container .border.top {
            top: 0px; }
            body #container .border.top.right {
              background-image: url("../images/border-top-right.png");
              right: 0px; }
            body #container .border.top.left {
              background-image: url("../images/border-top-left.png");
              left: 0px; }
          body #container .border.bottom {
            bottom: 0px; }
            body #container .border.bottom.right {
              background-image: url("../images/border-bottom-right.png");
              right: 0px; }
            body #container .border.bottom.left {
              background-image: url("../images/border-bottom-left.png");
              left: 0px; } }
    @media screen and (max-width: 400px) {
      body #container {
        padding: 3px; } }
    body #container .info-holder {
      min-width: 265px;
      margin-top: 5px;
      margin-bottom: 5px; }
      @media screen and (min-width: 400px) {
        body #container .info-holder {
          height: 100px; } }
      @media screen and (max-width: 400px) {
        body #container .info-holder {
          height: 80px; } }
      @media screen and (min-width: 400px) {
        body #container .info-holder .timer, body #container .info-holder .join-link, body #container .info-holder .seat-number, body #container .info-holder .username {
          height: 100px;
          line-height: 100px; } }
      @media screen and (max-width: 400px) {
        body #container .info-holder .timer, body #container .info-holder .join-link, body #container .info-holder .seat-number, body #container .info-holder .username {
          height: 80px;
          line-height: 80px; } }
      body #container .info-holder .voting {
        display: none; }
      body #container .info-holder .timer {
        font-family: 'Stylish', sans-serif;
        color: #bb0a1e;
        position: relative;
        float: left;
        cursor: pointer;
        text-align: center; }
        @media screen and (min-width: 400px) {
          body #container .info-holder .timer {
            font-size: 50px;
            width: 50px;
            padding-left: 5px; } }
        @media screen and (max-width: 400px) {
          body #container .info-holder .timer {
            font-size: 25px;
            width: 25px;
            padding-left: 0px; } }
        body #container .info-holder .timer.long-vote {
          font-size: 18px;
          width: 200px; }
      body #container .info-holder .join-link {
        font-size: 12px;
        position: relative;
        float: left;
        padding-left: 10px;
        cursor: pointer;
        text-align: center; }
      body #container .info-holder .seat-number {
        font-size: 23px;
        position: relative;
        float: left;
        padding-left: 5px; }
      body #container .info-holder .username {
        position: relative;
        float: left;
        padding-left: 10px;
        font-family: 'Stylish', sans-serif; }
        @media screen and (min-width: 500px) {
          body #container .info-holder .username {
            font-size: 33px; }
            body #container .info-holder .username input[type=text] {
              height: 25px;
              width: 200px; }
            body #container .info-holder .username #my_name_display {
              width: 200px; } }
        @media screen and (max-width: 500px) {
          body #container .info-holder .username {
            font-size: 18px; }
            body #container .info-holder .username input[type=text] {
              height: 25px;
              width: 100px; }
            body #container .info-holder .username #my_name_display {
              width: 100px; } }
      @media screen and (min-width: 400px) {
        body #container .info-holder .switches {
          line-height: 100px;
          padding-top: 34px; } }
      @media screen and (max-width: 400px) and (min-width: 350px) {
        body #container .info-holder .switches {
          line-height: 80px;
          padding-top: 25px; } }
      @media screen and (max-width: 350px) {
        body #container .info-holder .switches {
          line-height: 80px;
          padding-top: 5px; }
          body #container .info-holder .switches #kill-switch, body #container .info-holder .switches #used-switch {
            padding-top: 2px; } }
      body #container .info-holder .switches #kill-switch, body #container .info-holder .switches #used-switch {
        font-size: 23px;
        position: relative;
        float: left;
        padding-left: 5px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid black; }
      body #container .info-holder .switches #kill-switch.dead {
        background-color: black; }
      body #container .info-holder .switches #kill-switch.alive {
        background-color: #f2d98e; }
      body #container .info-holder .switches #kill-switch.traveler {
        background-color: grey; }
      body #container .info-holder .voter {
        font-size: 50px;
        text-align: center;
        border: 1px solid #808080;
        box-sizing: border-box;
        float: left;
        z-index: 99; }
        body #container .info-holder .voter.player.not-ready {
          border: 1px solid #bb0a1e; }
        @media screen and (min-width: 400px) {
          body #container .info-holder .voter {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            line-height: 100px; } }
        @media screen and (max-width: 400px) {
          body #container .info-holder .voter {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            line-height: 80px; } }
        body #container .info-holder .voter.alive {
          background-color: #f2d98e;
          border: 1px solid #d0aa38; }
        body #container .info-holder .voter.dead {
          background-color: black; }
        body #container .info-holder .voter.traveler {
          background-color: grey;
          border: 1px solid black; }
        body #container .info-holder .voter .vote {
          font-size: 50px;
          text-align: center;
          border: 2px solid #808080;
          z-index: 100; }
          @media screen and (min-width: 400px) {
            body #container .info-holder .voter .vote {
              margin: 19px;
              width: 60px;
              height: 60px;
              border-radius: 30px;
              line-height: 60px; } }
          @media screen and (max-width: 400px) {
            body #container .info-holder .voter .vote {
              margin: 10px;
              width: 60px;
              height: 60px;
              border-radius: 30px;
              line-height: 60px; } }
          body #container .info-holder .voter .vote.execute-vote {
            background-color: black;
            background-image: url("../images/noose.png");
            background-position: top;
            background-repeat: no-repeat; }
          body #container .info-holder .voter .vote.abstain-vote {
            background-color: white; }
          body #container .info-holder .voter .vote.used-vote {
            display: none; }
          body #container .info-holder .voter .vote.me {
            cursor: pointer; }
  body .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
