@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <h1>How create a voting session</h1>
        <p>
            This site is designed to replicate the voting system used for real life games of Blood on the Clocktower for online play.
        </p>
        <p>
            To set up a game you will need to create a new session for your players. You can do this by clicking on the number of players in your game on the navigation bar above, this will generate a unique session id for you game and build a voting space for you to use
        </p>
        <p>
            As the person who created the session you will be shown the admin page, this has controls to change the order of voters, change the amount of time players have to vote and to imitate a vote for the players.

        </p>
        <p>
            To invite players to your game, you can send them the links next to each position on the voting space (do so in their correct seating order). Players joining through these links will not see your admin controls, but will be invited to enter their players name and are given control of a voting chip. Help on how to use this can be found <a href="/vote/help">here</a>.
        </p>
        <h3>
            Advanced Notes
        </h3>
        <p>
            The URL which players join through control their position on the board, number of players in the game and the ID of the session they are in. You can edit this URL manually if you wish to play with these. The format is as follows:
        </p>
        <p>
            /vote/index/A/B/C
        </p>
        <p>
            Where:
        </p>
        <ul>
            <li>A: Number of players (5-20)</li>
            <li>B: Your position (0 for admin then 1-20 for players)</li>
            <li>C: Session id (feel free to make one up if you like)</li>
        </ul>
        <h3>
            Feedback, Source code and questions
        </h3>
        <p>Code for this site can be found at my github <a href="https://github.com/Harkonan/BloodOnTheServer">here</a>.</p>
        <p>Feedback is welcome, but this is a side project developed in between a full work schedule and a new baby, so don't expect much fast! (this might also explain any typos or issues you spot).</p>
    </div>