@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    This site uses cookies to:
</p>


<p>
    This site uses cookies to remember:
</p>
<ul>
    <li>The name you enterd last time you played</li>
    <li>You voting status for each session your in</li>
    <li>Your acceptance of this cookie policy</li>
</ul>
<p>
    The cookie-related information is not used to identify you personally and the pattern data is fully under our control. These cookies are not used for any purpose other than those described here.
</p>