
@{
    ViewData["Title"] = "Version";
}

<h2>Versions</h2>

@*
    <h3>vx.x.x</h3>
    <h4>New Features</h4>
    <ul>
        <li></li>
    </ul>

    <h4>Bug fixes</h4>
    <ul>
        <li></li>
    </ul>

*@

<h3>v0.2.3</h3>
<h4>New Features</h4>
<ul>
    <li>Added option to shuffle voters seats</li>
    <li>Health button no longer changes colour with players health, but remains always black</li>
    <li>
        Traveller Status separated from Health button.
        <ul>
            <li>Health button only toggles between Alive & Dead (Previously it toggled alive > dead > traveller)</li>
            <li>New Traveller button added which toggles between Normal & Traveller</li>
            <li>Traveller button does not show on UI when the player is dead (as it is irrelevant at this point)</li>
        </ul>
    <li>Alive players can no longer set their vote token as "used", returning to alive from dead will store a used vote token (it will need to set as used again if the player returns to next)</li>
    <li>
        Added a new stats panel showing:
        <ul>
            <li>Players (Living)</li>
            <li>Votes (All/Alive/Dead)</li>
            <li>Minimum Votes to Execute</li>
            <li>Current Votes to Execute</li>
        </ul>
    </li>
</ul>

<h4>Bug fixes</h4>
<ul>
    <li>Fixed AFK taking a wander when the player lost their vote token</li>
</ul>


<h3>v0.2.2</h3>
<h4>New Features</h4>
<ul>
    <li>Added Version log (this page)</li>
    <li>Admin dropdowns now only update when a voter has changed their name (previously reset on any change)</li>
    <li>New method of generating a shorter Session ID token</li>
    <li>Database now records last used time for all sessions so I have a better of idea of when I can shut down the DB</li>
</ul>

@*<h4>Bug fixes</h4>
    <ul>
        <li></li>
    </ul>*@
