
@{
    ViewData["Title"] = "Version";
}

<h2>Versions</h2>

@*
    <h3>vx.x.x</h3>
    <h4>New Features</h4>
    <ul>
        <li></li>
    </ul>

    <h4>Bug fixes</h4>
    <ul>
        <li></li>
    </ul>

*@

<h3>v0.2.3</h3>
<h4>New Features</h4>
<ul>
    <li>Added option to shuffle voters seats</li>
</ul>

@*<h4>Bug fixes</h4>
<ul>
    <li></li>
</ul>*@


<h3>v0.2.2</h3>
<h4>New Features</h4>
<ul>
    <li>Added Version log (this page)</li>
    <li>Admin dropdowns now only update when a voter has changed their name (previously reset on any change)</li>
    <li>New method of generating a shorter Session ID token</li>
    <li>Database now records last used time for all sessions so I have a better of idea of when I can shut down the DB</li>
</ul>

@*<h4>Bug fixes</h4>
<ul>
    <li></li>
</ul>*@