
@{
    ViewData["Title"] = "Lobby";
}

<h2>Game @ViewBag.Session Lobby</h2>
 Click here to get a seat: <a href="/vote/join/@ViewBag.Session">Take a Seat</a>
<br />
Click here to Spectate: <a href="/vote/spectate/@ViewBag.Session">Spectate</a>
<br />